html,
body,
body > div {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.loading {
  cursor: wait;
}

#main-nav {
  background-color: #ccc;
  display: block;
  border-right: 1px solid rgba(0,0,0,.125);
  float: left;
  height: calc(100vh);
  max-height: calc(100vh);
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#search {
  padding-top: 1.4rem;
}

#search,
nav#player-ui {
  border-bottom: solid 1px #aaa;
  height: 90px;
}

nav#player-ui {
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: 280px;
  text-align: center;
  min-width: 600px;
  width: calc(100vw - 280px);
  z-index: 99999;
}

nav#player-ui audio {
  height: 30px;
  max-width: 750px;
  outline: none;
  width: 100%;
}

nav#player-ui .player-add-controls,
nav#player-ui #podcast-display-cont {
  display: inline-block;
}

nav#player-ui #podcast-display-cont {
  text-align: left;
  width: calc(33vw);
}

nav#player-ui #podcast-display-data {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  min-width: 350px;
}

nav#player-ui #podcast-display-name {
  height: 2.75rem;
}

nav#player-ui #podcast-display-data img {
  margin-right: 0.5rem;
  max-width: 45px;
}

nav#player-ui .player-add-controls {
  display: inline-block;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 15%;
}

nav#player-ui .skip-back,
nav#player-ui .jump-fwd {
  font-size: 2rem;
  position: relative;
}

nav#player-ui #pause-icon {
  display: none;
}

nav#player-ui .btn-num {
  position: absolute;
  top: 1rem;
  font-size: 0.7rem;
}

nav#player-ui .skip-back .btn-num {
  left: 0.62rem;
}

nav#player-ui .jump-fwd .btn-num {
  left: 0.55rem;
}

nav#player-ui .play-pause {
  font-size: 3rem;
}

nav#player-ui #podcast-display-name > * {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(33vw);
}

nav#player-ui #podcast-display-name {
  text-align: center;
}

nav .list-group-item:first-child,
nav .list-group-item:last-child {
  border-radius: 0;
}

nav .list-group-item {
  border-right: 0;
  border-left: 0;
}

nav input {
  margin: auto;
  max-width: 90%;
}

nav h6 {
  margin: 0.5rem auto;
  max-width: 90%;
}

nav p {
  color: #8c8c8c;
  margin: 0.5rem auto;
  max-width: 90%;
  text-align: center;
  text-shadow #aaa 1px 0 10px;
}

nav,
nav input {
  font-size: 0.9rem;
}

nav .list-item-group {
  height: calc(100vh - 120px);
  overflow: auto;
}

.search-results {
  list-style-type: none;
}

.list-group-item-action {
  cursor: default;
}

#subscribed-items .list-group-item {
  white-space: nowrap;
}

#subscribed-items .subscribed-podcast-title {
  display: inline-block;
  width: 205px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#subscribed-items .subscribed-podcast-unplayed-count {
  float: right;
}

nav .subscribed-podcasts-options {
  float: right;
  margin-right: 0.4rem;
}

/* Views */
#main-view {
  margin-top: 90px;
  margin-left: 280px;
  padding: 0.5rem;
}

#main-view > div {
  padding: 0.5rem;
}

#main-view .spinner-border {
  margin-top: calc(25vh);
  height: calc(25vh);
  width: calc(25vh);
}

#main-view p {
  font-size: 0.9rem;
}

.podcast-icon {
  float: left;
}

/* Podcasts */
/*
.search-results,
.shows {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
*/
.search-results,
.shows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.podcast-show {
  position: relative;
  width: 230px;
}

.podcast-show img,
.podcast-show-detailed img.artwork {
  height: 230px;
  width: 230px;
}

.podcast-show .capsule-player {
}

.episodes {
  margin-top: 0.5rem;
}

.episodes .episode-cont {
  padding-top: 0.5rem;
  border-width: 1px 0 0 0;
  border-top: solid 1px rgba(0,0,0,.125);
  user-select: none;
}

.episodes .episode p {
  margin: 0.5rem 0;
}

.episode .duration.badge {
  margin-right: 0.5rem;
  text-transform: uppercase;
}

/* Players */
.capsule-player {
  height: 230px;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  top: 175px;
  width: 230px;
  z-index: 2;
}

.capsule-player .btn-play {
  float: left;
}

.capsule-player .btn-settings {
  float: right;
}

#global-player {
  background-color: #ccc;
  height: 60px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 280px;
  width: 100%;
  text-align: 100%;
}

/* Podcast */
.podcast-show-details {
  display: flex;
}

.podcast-show-content {
  width: 100%;
}

nav.podcast-options {
  margin: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.podcast-show-detailed .podcast-show-artwork {
  margin-right: 2rem;
}

/* Detailed Podcast */

.podcast-episodes-view-by {
  text-align: center;
}

.podcast-episodes-view-by .btn-light,
.episode .badge-light {
  background-color: rgba(0, 0, 0, 0.10);
  border-color: rgba(0, 0, 0, 0.10);
}

.podcast-show-artwork img,
#podcast-display-data img {
  border-radius: 5px;
}

.podcast-show-detailed .episode {
  display: flex;
}

.episode-metadata {
  width: 100%;
}

.episode-title {
  display: inline-block;
  margin: 0;
  padding: 0 0.5rem;
}

.episode-date {
  font-size: 0.7rem;
  margin: 0 0.5rem;
  opacity: 0.5;
}

.episode-description {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.episode.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.episode-header {
  display: grid;
  grid-template-columns: 1fr 50px;
}

.episode-metadata-icon {
  text-align: center;
}

.episode-metadata-icon .bi {
  width: 35px;
  fill: #0069d9;
}

.episode-metadata .episode-time-remaining progress {
}

.episode.active .episode-title {
  margin-left: -0.5rem;
}

.sm-podcast-img {
  border-radius: 3px;
  margin-right: 0.2rem;
  max-height: 2rem;
  max-width: 2rem;
}

/* See .sm-podcast-img -- overrides correcting padding. */
.subscribed-podcast-unplayed-count .badge {
  padding-bottom: 0.25rem;
}

/* Dialog */
dialog {
  border-color: #ccc;
  border-width: 1px;
  border-radius: 15px;
  min-width: 30vw;
}

/* Helpers */
.rotate {
  animation: rotation 2s infinite linear;
  opacity: 0.5;
}

/* Animations */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width: 900px)  {
  nav#player-ui .player-add-controls {
    display: none;
  }
}
