html,
body,
body > div {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main-nav {
  background-color: #ccc;
  display: block;
  border-right: 1px solid rgba(0,0,0,.125);
  float: left;
  height: calc(100vh);
  max-height: calc(100vh);
  width: 280px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#search {
  padding-top: 1.4rem;
}

#search,
nav#player-ui {
  border-bottom: solid 1px #aaa;
  height: 80px;
}

nav#player-ui {
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: 280px;
  text-align: center;
  width: calc(100vw - 280px);
}

nav#player-ui audio {
  height: 30px;
  max-width: 750px;
  outline: none;
  width: 100%;
}

nav#player-ui #podcast-display-name {
  height: 2.75rem;
}

nav .list-group-item:first-child,
nav .list-group-item:last-child {
  /*
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  */
  border-radius: 0;
}

nav .list-group-item {
  border-right: 0;
  border-left: 0;
}

nav input {
  margin: auto;
  max-width: 90%;
}

nav h6 {
  margin: 0.5rem auto;
  max-width: 90%;
}

nav,
nav input {
  font-size: 0.9rem;
}

.search-results {
  list-style-type: none;
}

.list-group-item-action {
  cursor: default;
}

/* Views */
#main-view {
  margin-top: 80px;
  margin-left: 280px;
  padding: 0.5rem;
}

#main-view > div {
  padding: 0.5rem;
}

/* Podcasts */
/*
.search-results,
.shows {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
*/
.search-results,
.shows {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.podcast-show {
  position: relative;
  width: 230px;
}

.podcast-show img,
.podcast-show-detailed img.artwork {
  height: 230px;
  width: 230px;
}

.podcast-show .capsule-player {
}

/* Players */
.capsule-player {
  height: 230px;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  top: 175px;
  width: 230px;
  z-index: 2;
}

.capsule-player .btn-play {
  float: left;
}

.capsule-player .btn-settings {
  float: right;
}

#global-player {
  background-color: #ccc;
  height: 60px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 280px;
  width: 100%;
  text-align: 100%;
}

/* Podcast */
.podcast-show-details {
  display: flex;
}

.podcast-show-content {
}

nav.podcast-options {
  text-align: right;
  width: 100%;
}

.podcast-show-detailed .podcast-show-artwork {
  margin-right: 2rem;
}

/* Dialog */
dialog {
  border-color: #ccc;
  border-width: 1px;
  border-radius: 15px;
  min-width: 30vw;
}

